/* Контейнер для шапки*/
.container {
  position: relative;
  width: 720px;
  height: 500px;
  margin: 0%;
}
  
/* Сделайте изображение адаптивным */
.img {
  position: relative;
  width: 720px;
  height: 500px;
}

.imgg{
  height: 65px;
  width: 70px;
  position: absolute;
  top: 0px;
  left: 0px;
}
  
/* кнопка входа */
.container .btn {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: rgba(0,0,0,0);
  color: white;
  border-color: white;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
}

/* кнопка входа меняет белый цвет */
.container .btn:hover {
  background-color:#EDB61F;
  color: black;
}

.nomer{
  position: absolute;
  top: 4%;
  right: 18%;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

/* текст на шапке */
.tekst{
  position: absolute;
  top: 50%;
  left: 40%;
  color: white;
  text-align: center;
  transform: translate(-12em, -3em);
  white-space: nowrap;
}

.linia{
  background: #EDB61F;
  height: 7px;
  width: 720px;
}

.z{
  background: black;
  color: white;
  width: 720px;
  text-align: center;
  font-size: 25px;
}

.table{
  color: white;
  width: 100%;
  font-size: 25px;
}

input[type=text] {
  width: 50%;
  height: 35px;
  border: 2px solid #EDB61F;
  border-radius: 10px;
  background-color: white;
  color: black;
  margin-top: 10px;

}

.vxod{
  background-color:#EDB61F;
  color: white;
  font-size: 20px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin: 20px;
}

/* Footer */
.footer {
  text-align: center;
  background: #EDB61F;
  color: black;
  width: 720px;
}

/* Footer кнопки */
.btnn{
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin: 5px;
  }


